<p id="notice"><%= notice %></p>

<p>
  <b>How to:</b>
  <%= @howtolist.how_to %>
</p>


<%= link_to 'Edit', edit_howtolist_path(@howtolist) %> |
<%= link_to 'Back to see all lists', howtolists_path %>
<%= link_to "New Step", new_howtolist_step_path(@howtolist) %>

<ul id='steps'>
<% @howtolist.steps.each do |step| %>
<li>
#<%= step.number %> -
<%= link_to step.content, [@howtolist, step] %>
</li>
<% end %>
</ul>
